{% extends "layout.html" %}
{% block content %}
  <h2 class="subtitle">{{ subtitle }}</h2>
  <p class="subtext">{{ text }}</p>
  <h3> Hey! My name is William, I don't get how to use templates properly</h3>
  <p class="blurb"> For example, why is everything stuck in this block content? 
    Maybe I wasn't paying enough attention during the lecture. Wait, why am I off center? I aligned it properly!
    Who even designed this page? It looks so bad! <br><br>
    If you want to register for my secret project go over to 'Register'. <br><br>
    If you want to see places I've been, check out 'Places'. <br><br>Have fun!
  </p>
{% endblock content %}