{% extends "layout.html" %}
{% block content %}
    <h2 class="subtitle">{{ subtitle }}</h2>
    <p>{{ text }}</p>
    <p>Now for a confession, I don't feel like uploading my photos from my phone</p>
    <div class="fakeimage">
      <h3 class="caption"> Imagine this is a nighttime view of Victoria Harbour in Hong Kong </h3>
    </div>
    <div class="fakeimage">
      <h3 class="caption"> Now imagine this is the Raohe Night Market in Taipei </h3>
    </div>
    <div class="fakeimage">
      <h3 class="caption"> How about Gyeongbokgung Palace? </h3>
    </div>
    <div class="fakeimage">
      <h3 class="caption"> Now I'm in Wuhan! </h3>
    </div>
{% endblock content %}